@import "variables";
@import "hr_mixins";

@imgPath: "../../../views/frontend/img";

.hr--custom-detail-container {
    color: black;
    display: inline-grid;
    grid-gap: 50px;
    margin: 25px 0 50px 0;

    p {
        font-size: 16px;
        font-weight: normal;
    }

    .hr--row {
        font-size: 16px;
        font-weight: normal;
    }

    .headline {
        font-size: @font-size-big-mobile;
        font-weight: 700;
        margin: 5px 0 10px 0;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 700;
    }

    .small-subtitle {
        display: block;
        font-size: 18px;
        font-weight: 700;
        padding: 0 0 10px 0;
    }


    .video-col {
        position: relative;
        height: 200px;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .img-col-3, .img-col-4, .img-col-5 {
        display: inline-grid;
        text-align: center;
        gap: 15px;

        div {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;

            img {
                max-height: 90px;
                margin: auto;
            }

            span {
                text-align: left;
                padding: 0 10px;
                font-weight: 700;

                &.top-space {
                    margin-top: 10px;
                }
            }
        }
    }

    .text-img-col, .img-text-col {
        display: inline-grid;
        column-gap: 25px;

        &.has-rows{
            row-gap: 25px;
        }

        .text-img-container img {
            border-radius: 16px;
        }
    }

    .img-text-col {
        display: grid;
        gap: 50px;

        .text-img-container {
            background-image: url("@{imgPath}/frei-ueberlappend.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            min-height: 300px;
            border-radius: 16px;

            &.jonix-faq {
                background-image: url("@{imgPath}/jonix/cube_FAQ_mit.jpg");
                background-size: cover;
            }
        }
    }

    .text-slider, .ratings {
        .slider-container {
            max-width: 95vw;
        }
    }

    .text-slider {
        position: relative;

        .slider-container {
            position: relative;
            height: 280px;

            ul {
                padding: revert;
            }

            &.jonix-seals {
                height: 380px;
                .slide-content {
                    background: #E7E5E6;
                    border-radius: 16px;
                }
            }

            .swiper-wrapper {
                .swiper-slide {

                    background: none;

                    .slider-seal-img {
                        height: 100px;
                        margin: auto;
                    }

                    .slider-bg {
                        background-size: cover;
                        border-radius: 16px;
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                        opacity: 0.2;
                    }

                    .slider-bg {
                        @images-jojoba: "detail-weiss-natur.jpg" "Detail-mit-Pipette.jpg" "dunkel-ueberlappend.jpg" "Weiss-wattepad-detail.jpg" "Weiß-Wattepad.jpg" "detail-weiss-natur.jpg";

                        .slider-bg-img(length(@images-jojoba), @imgPath, theme-1, @images-jojoba);

                        @images-jonix: "HR_siegel.jpg" "biosafe.jpg" "ce.jpg" "ongreening.jpg" "EUquality.jpg" "tuev_profi.jpg" "virus.jpg";

                        //.slider-bg-img(length(@images-jonix), "@{imgPath}/jonix/slider-bg", theme-2, @images-jonix);
                        &.theme-2 {
                            /*background: #E6E6E6;*/

                        }
                    }
                }
            }

            .slide-content {

                padding: 20px 32px 20px 25px;
                width: 100%;
                z-index: 2;

                div {
                    color: black;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    margin: 0 0 30px 0;
                }
            }

            .swiper-container {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                background: @beige;
                border-radius: @border-radius;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
        }
    }

    .ratings {
        .swiper-button-next.swiper-button-black,
        .swiper-button-prev.swiper-button-black {
            display: none;
        }

        .slider-container {
            position: relative;
            margin: 0 0 50px 0;

            .swiper-slide {
                height: auto;

                .review--entry {
                    height: 100%;
                    border-radius: @border-radius;
                    background: @beige;
                }
            }

            .swiper-pagination-bullet-active {
                background-color: @hrGreen;
            }

            .outside-dots {
                width: 100%;

                span {
                    margin: 0 1px;
                }
            }
        }
    }

    .text-col-2 {
        display: grid;
        gap: 15px;
        text-align: justify;

        span {
            display: block;
            font-weight: 700;
            padding: 0 0 10px 0;
        }
    }

    .seals {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 25px;
        column-gap: normal;

        .seal-image {
            height: 70px;
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    .hr--custom-detail-container {

        .img-col-3, .img-col-4, .img-col-5 {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-slider, .ratings {
            .slider-container {
                max-width: 92vw;
            }
        }

        .text-slider {
            .slider-background {
                display: none;
                position: absolute;
                background-image: url("@{imgPath}/weiß-natur.jpg");
                background-position: center;
                background-size: cover;
                border-radius: 16px;
                width: 400px;
                height: 400px;
            }

            .slider-container {
                position: relative;
                height: 280px;

                &.jonix-seals {
                    height: 380px;
                    .slide-content {
                        background: #f7f7f7;
                        border-radius: 16px;
                    }
                }
            }
        }

        .ratings {
            .slider-container {
                .outside-dots {
                    span {
                        margin: 0 4px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
    .hr--custom-detail-container {
        grid-gap: 50px;
        margin: 50px 0;

        .headline {
            font-size: @font-size-big;
        }

        .text-content {
            text-align: justify;

            &.indent {
                padding: 0 0 0 30px;

                span {
                    margin: 0 0 0 -25px;
                }
            }
        }

        .video-col {
            height: 660px;
        }

        .img-col-3, .img-col-4 {
            height: 100px;
        }

        .img-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        .img-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        .img-col-5 {

            grid-template-columns: repeat(5, 1fr);

            div {
                align-items: normal;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, minmax(50px, auto));
                img {
                    max-height: 100px;
                }

                span {
                    text-align: center;
                }
            }
        }

        .text-img-col, .img-text-col {
            grid-template-columns: minmax(0,1fr) 555px;
            column-gap: 50px;

            .extra {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .text-img-container {
                border-radius: @border-radius;
                overflow: hidden;
            }
        }

        .img-text-col {
            /*grid-template-columns: 1fr 1fr;*/

            .text-img-container {
                background-image: url("@{imgPath}/frei-ueberlappend.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 16px;

                &.jonix-faq {
                    background-image: url("@{imgPath}/jonix/cube_FAQ.jpg");
                    background-size: cover;

                }
            }
        }

        .text-slider, .ratings {
            .slider-container {
                max-width: 94vw;
            }
        }

        .text-slider {
            .swiper-button-next.swiper-button-black,
            .swiper-button-prev.swiper-button-black {
                display: flex;
                margin: -22px -40px;
            }
        }

        .ratings {
            .swiper-button-next.swiper-button-black,
            .swiper-button-prev.swiper-button-black {
                display: flex;
                margin: -22px -40px;
            }
        }

        .text-col-2 {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
    }
}

@media screen and (min-width: @desktopViewportWidth) {
    .hr--custom-detail-container {
        grid-gap: 100px;
        margin: 100px 0;

        .seals {
            grid-template-columns: repeat(7, 1fr);

            img {
                border: black;
                filter: grayscale(1);
                transition: filter .3s linear, opacity .3s linear;
                opacity: .7;

                &:hover {
                    filter: none;
                    opacity: 1;
                }
            }
        }

        .text-slider {
            position: relative;

            .slider-container {
                max-width: 1160px;
            }
        }

        .ratings {

            .slider-container {
                max-width: 1160px;
            }
        }
    }
}
