.slider-bg-img(@index, @imgPath, @section, @images) when (@index > 0) {

    @img: extract(@images, @index);
    @image-id: @index - 1;

    &.@{section}.bg-img-@{image-id} {
        background-image: url("@{imgPath}/@{img}");
    }
    .slider-bg-img(@index - 1, @imgPath, @section, @images);
}
