/* Basic Shopware */
@phoneLandscapeViewportWidth: 30em;     // 480px
@tabletViewportWidth: 48em;             // 768px
@tabletLandscapeViewportWidth: 64em;    // 1024px
@desktopViewportWidth: 78.75em;         // 1260px

/* Regular */

@beige: #f8f1ee;
@hrGreen: #a4ca4d;
@border-radius: 16px;

@font-size-big: 45px;
@font-size-small: 30px;

/* Mobile */
@font-size-big-mobile: 35px;
@font-size-small-mobile: 35px;
